$rounded-container-radius: 30px;
$secondary-color: #F3F3F3;
$green: #B9FF66;

nav {
    .navbar-brand {
        img {
            height: 55px;
            width: auto;
        }
    }

    .navbar-toggler {
        outline: none;
        border: none;
    }

    .navbar-collapse,
    .navbar-nav {
        gap: 22px;
    }
}

main {
    section {
        margin-bottom: 2.5rem;
        margin-top: 2.5rem;

        h3 {
            margin-bottom: 2.75rem;
            background-color: $green;
            width: fit-content;
            border-radius: 10px;
            padding: .25rem;
        }
    }
    h1 {
        line-height: 4rem;
        font-size: 2.75rem;

        @media (min-width: 992px) {
            font-size: 3.25rem;
        }
    }
    .btn {
        border-radius: 10px;
    }
    .introduction {
        .intro-text,
        .intro-illustration {
            width: fit-content;
        }
    }
    .proposal {
        background-color: $secondary-color;
        border-radius: $rounded-container-radius;
        padding: 2rem;

        > .info-text {
            gap: 1rem;
        }
        img {
            height: 280px;
        }
    }
    .contact {
        padding: 2rem;
        background-color: $secondary-color;
        border-radius: $rounded-container-radius;
        
        .contact-form {
            z-index: 9;
            width: 100%;

            input {
                border: 1px solid;
            }
            @media (min-width: 992px) {
                width: 60%;
            }
        }
        
        .contact-reason {
            label {
                margin-bottom: 0;
            }
            input[type='radio'] {
                accent-color: $green;
            }
        }

        .contact-info input,
        .contact-message textarea {
            border-radius: 10px;
        }
        
        .contact-illustration {
            position: absolute;
            right: 0px;
            top: 5px;
            z-index: 1;

            @media (min-width: 768px) {
                position: initial;
                margin-right: 2rem;
                margin-left: auto;
            }
        }
    }
}